.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.p-title {
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px #02020249;
}

.landing-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding-top: 3rem;
}

.landing-block {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  width: 95%;
  min-height: 250px;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  font-size: clamp(16px, calc(10px + 0.5vw), 16px);
  font-weight: 100;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.landing-block-right {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row-reverse;
  width: 95%;
  min-height: 250px;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  font-size: clamp(16px, calc(10px + 0.5vw), 16px);
  font-weight: 100;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 550px;
  color: var(--standard-button-text-color);
  text-shadow: 1px 1px 2px #02020245;
  padding: 0 2rem;
}
.landing-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 550px;
  color: var(--standard-button-text-color);
  text-shadow: 1px 1px 2px #0202026d;
  padding: 0 2rem;
  transform: translate(calc(-230px + 1vw), 0);
}

.landing-image-position-left {
  display: flex;
  justify-content: center;
  align-content: center;
}
.landing-image-position-right {
  display: flex;
  justify-content: center;
  align-content: center;
  transform: translate(calc(550px + 3vw), 0);
}
.landing-image {
  height: 100%;
  width: 250px;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .landing-content-container {
    width: 95%;
    padding-top: 0rem;
  }
  .landing-block {
    flex-direction: column;
    padding: 1rem 0rem;
    font-size: clamp(13px, calc(10px + 0.5vw), 16px);
  }

  .landing-block-right {
    flex-direction: column;
    padding: 1rem 0rem;
    font-size: clamp(13px, calc(10px + 0.5vw), 16px);
  }
  .landing-image-position-left {
    margin-bottom: 1.5rem;
  }
  .landing-image-position-right {
    margin-bottom: 1.5rem;
    transform: translate(0, 0);
    text-align: center;
    padding-left: 15rem;
  }
  .landing-text {
    align-items: center;
    max-width: 80%;
    margin-left: calc(1rem + 2vw);
  }
  .landing-text-right {
    transform: translate(3.5vw, 0);
  }
  .landing-image {
    max-height: 400px;
    width: 100%;
  }
}
