<!-- <div class="input-row">
  <div>Set</div>
  <div>Reps</div>
  <div>Weight</div>
  <div>Set Volume</div>
</div> -->

<!-- <label>Set Number</label>
{{ exerType }}
&nbsp;&nbsp;
<input
  placeholder="Set Number"
  [formControl]="$any(inputFormGroup.controls['setNumber'])"
  type="number"
  required
/> -->

<label *ngIf="exerType !== 'bodyweight'">Weight</label>
&nbsp;&nbsp;
<input
  *ngIf="exerType !== 'bodyweight'"
  placeholder="Weight"
  [formControl]="$any(inputFormGroup.controls['weight'])"
  type="number"
  max="1500"
  required
  [(ngModel)]="weightInSet"
  (focusout)="volumeCalc()"
/>
&nbsp;&nbsp;
<label>Reps</label>
<input
  placeholder="Reps"
  [formControl]="$any(inputFormGroup.controls['reps'])"
  type="number"
  max="250"
  required
  [(ngModel)]="repsInSet"
  (focusout)="volumeCalc()"
/>
