<!-- <div class="input-row">
  <div>Set</div>
  <div>Reps</div>
  <div>Weight</div>
  <div>Set Volume</div>
</div> -->

<label>Set Number</label>
&nbsp;&nbsp;
<input
  placeholder="SetNumber"
  [formControl]="$any(inputFormGroup.controls['setNumber'])"
  type="number"
/>

<label>Name</label>
&nbsp;&nbsp;
<input
  placeholder="Name"
  [formControl]="$any(inputFormGroup.controls['name'])"
  type="number"
/>
&nbsp;&nbsp;
<label>Gender</label>
<input
  placeholder="Gender"
  [formControl]="$any(inputFormGroup.controls['gender'])"
  type="number"
/>
