<div class="input-row">
  <div>Set</div>
  <div>Reps</div>
  <div>Weight</div>
  <div>Set Volume</div>
</div>
<form action=""></form>
<div class="input-row">
  <!-- <label for="Reps">Set</label> -->
  <input type="number" name="inputSet" disabled />
  <!-- <label for="Reps">Reps</label> -->
  <input
    type="number"
    name="inputRep"
    [(ngModel)]="inputRep"
    (input)="updateSetRepWgt()"
  />
  <!-- <label for="Reps">Weight</label> -->
  <input
    type="number"
    name="inputWeight"
    [(ngModel)]="inputWeight"
    (input)="updateSetRepWgt()"
  />
  <!-- <label for="Reps">Set Volume</label> -->
  <input
    type="number"
    name="inputSetVolume"
    value="{{ inputSetVolume }}"
    disabled
  />
</div>
