<input
  class="set-input"
  *ngIf="exerType !== 'bodyweight'"
  placeholder="Weight"
  [formControl]="$any(inputFormGroup.controls['weight'])"
  type="number"
  max="1500"
  required
  [(ngModel)]="weightInSet"
  (focusout)="volumeCalc()"
/>
<label *ngIf="exerType === 'dumbbell'">1 DB?</label>
<input
  *ngIf="exerType === 'dumbbell'"
  type="checkbox"
  [(ngModel)]="singleDumbbell"
  (click)="singledumbbellStatus()"
/>
<input
  class="set-input"
  placeholder="Reps"
  [formControl]="$any(inputFormGroup.controls['reps'])"
  type="number"
  max="250"
  required
  [(ngModel)]="repsInSet"
  (focusout)="volumeCalc()"
/>
