.input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: blue 1px solid;
  width: 800px;
}

.input-row input {
  width: 5rem;
}

.set-input {
  width: 60px;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media (max-width: 850px) {
  .set-input {
    padding-top: 0.5rem;
    padding-right: clamp(5px, calc(0.3rem + 3vw), 0.5rem);
    padding-bottom: 0.5rem;
    padding-left: clamp(5px, calc(0.3rem + 3vw), 0.5rem);

    margin-top: 1rem;
    margin-right: clamp(4px, calc(4px + 3vw), 1rem);
    margin-bottom: 1rem;
    margin-left: clamp(4px, calc(4px + 3vw), 1rem);
    font-weight: 400;
    font-size: 16px;
  }
}
