<div class="landing-wrapper">
  <div class="landing-content-container">
    <div class="landing-block">
      <div class="landing-image-position">
        <img class="landing-image" src="../../../assets/test.jpg" alt="" />
      </div>
      <div class="landing-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
        voluptatem odit unde magnam? Dignissimos quas laboriosam adipisci
        molestias odit saepe molestiae dolorum, reprehenderit, est vitae quasi
        eos neque ullam atque ratione, inventore magnam et soluta omnis. At
        repellat recusandae consequuntur cupiditate id possimus quod sapiente
        perspiciatis, expedita doloribus facere tenetur natus quis porro quidem!
        Magnam temporibus accusamus veniam atque adipisci.
      </div>
    </div>

    <div class="landing-block">
      <div class="landing-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
        voluptatem odit unde magnam? Dignissimos quas laboriosam adipisci
        molestias odit saepe molestiae dolorum, reprehenderit, est vitae quasi
        eos neque ullam atque ratione, inventore magnam et soluta omnis. At
        repellat recusandae consequuntur cupiditate id possimus quod sapiente
        perspiciatis, expedita doloribus facere tenetur natus quis porro quidem!
        Magnam temporibus accusamus veniam atque adipisci.
      </div>
      <div class="landing-image-position">
        <img class="landing-image" src="../../../assets/test.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
