<div class="landing-wrapper">
  <div class="landing-content-container">
    <div class="landing-block">
      <div class="landing-image-position-left">
        <img class="landing-image" src="./assets/full.PNG" alt="" />
      </div>
      <div class="landing-text">
        <p class="p-title">Track Workouts</p>
        <p>
          Track your workouts simply without over-sensitive Excel or Google
          spreadsheets. Easily keep in mind whats most important - Are you
          progressing better than last time? Are you at your current best of all
          time?
        </p>
      </div>
    </div>

    <div class="landing-block-right">
      <div class="landing-image-position-left">
        <img class="landing-image" src="./assets/mobile.PNG" alt="" />
      </div>
      <div class="landing-text">
        <p class="p-title">Mobile Ready. Gym Ready.</p>
        <p>
          Made for Mobile. Get in. Get out. Without the clumsy spreadsheets and
          with the knowledge and motivation of seeing your previous attempt, and
          your best attempt ever.
        </p>
        <p>
          Also a handsome, expansive desktop version for pre-workout preview.
        </p>
      </div>
    </div>

    <div class="landing-block">
      <div class="landing-image-position-left">
        <img class="landing-image" src="./assets/dashboard.PNG" alt="" />
      </div>
      <div class="landing-text">
        <p class="p-title">Data Summary Dashboard</p>
        <p>
          Quickly view your progress with the dashboard to show off to your
          personal trainer
        </p>
      </div>
    </div>
  </div>
</div>
