<div class="workout-panel-sizing" *ngFor="let e of exerciseInput; index as i">
  <app-input-array
    [exerciseIndexForCurrentWorkout]="exerciseInputIndex"
    (exerciseArrayForIteration)="receiveIterationExercise($event)"
  ></app-input-array>
  <button
    class="delete-button float-right-delete app-button"
    (click)="onRemoveExercise(i)"
    *ngIf="i + 1 === exerciseInputIndex"
  >
    Delete Exercise
  </button>
</div>
<button
  class="add-exercise-button add-exercise-button app-button"
  (click)="addExerciseInput()"
>
  Add Exercise
</button>
<div
  class="exercise-switches"
  *ngIf="exerciseInputIndex > 0 && innerWidth < 1200 && iterationsDisplay > 0"
>
  <div class="switch-left" (click)="zIndexToBestTime()">Best Time</div>
  <div class="switch-right" (click)="zIndexToLastTime()">Last Time</div>
</div>
