.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: clamp(100px, calc(100px + 10vw), 200px);
}

.app-title {
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: clamp(1rem, calc(1.5rem + 1vw), 4rem);
  text-align: center;
}

.app-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 1rem;
  text-align: center;
}

.login-register-status-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.log-margin {
  margin: 0rem 0.5rem;
}

.login-display-name {
  font-size: 0.7rem;
  text-align: center;
}

a:link,
a:visited {
  // background-color: #acaad2;
  color: var(--nav-link-color);
  // padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
}

a:hover,
a:active {
  color: var(--nav-link-color-hover);
}

.in-app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: clamp(200px, calc(200px + 12vw), 800px);
}

.nav-border-width {
  width: 85%;
  margin-bottom: 1rem;
}

.logged-in-svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 1000px) {
  .login-register-status-container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (max-width: 450px) {
  a:link,
  a:visited {
    font-size: clamp(0.7rem, calc(0.7rem + 3vw), 0.8rem);
  }
}
