input {
  width: 180px;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
}

button {
  margin-left: 13rem;
  padding: 0.6rem;
}

.test-dialog-text {
  font-size: 1rem;
  color: var(--nav-link-color);
  text-align: center;
  margin-top: 2rem;
}
.test-dialog-text:hover {
  font-size: 1rem;
  color: var(--nav-link-color-hover);
}

.login-warning-text {
  max-width: 420px;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 850px) {
  button {
    margin-left: 6.5rem;
  }
}
