<div class="dashboard-wrapper">
  <div class="dashboard-content-container">
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
    <div class="dashboard-block">
      <div class="dashboard-component-title">Past Workouts</div>
      <div class="dashboard-component">The Actual Chart</div>
    </div>
  </div>
</div>
