<div class="wrapper">
  <div class="old-time-row" *ngFor="let item of bestTimeArrayForDisplay">
    <div class="historic-section-title">Best Time</div>
    <div class="exercise-categories">
      <div class="type-column">
        <div class="historic-title">{{ item.exerciseType | titlecase }}</div>
      </div>
      <div class="type-column">
        <div class="historic-title">{{ item.exercise | titlecase }}</div>
      </div>
      <div class="type-column" *ngIf="item.exerciseType === 'bodyweight'">
        <div class="historic-title">
          {{ item.bodyweightVariation | titlecase }}
        </div>
      </div>
    </div>
    <div class="historic-date">{{ item.exerciseDate | date }}</div>
    <div class="set-row-titles">
      <div class="set-row historic-type-title">Set</div>
      <div
        class="set-row historic-type-title"
        *ngIf="item.exerciseType !== 'bodyweight'"
      >
        Weight
      </div>
      <div class="set-row historic-type-title">Reps</div>
    </div>
    <div class="set-row" *ngFor="let set of item.setArray">
      <div class="set-cell">{{ set.setNumber }}</div>
      <div class="set-cell" *ngIf="item.exerciseType !== 'bodyweight'">
        {{ set.weight }}
      </div>
      <div class="set-cell">{{ set.reps }}</div>
    </div>
    <div class="total-set-historic-volume">
      Total Volume: {{ item.exerciseVolume }}
    </div>
    <div class="bottom-border"></div>
  </div>
</div>
