<div class="wrapper border-right">
  <div
    class="old-time-row"
    *ngFor="let item of bestTimeArrayForDisplay; index as i"
  >
    <div class="title-area-height">
      <div class="historic-section-title" *ngIf="i === 0">Best Time</div>
      <div class="exercise-categories">
        <div class="type-column">
          <div class="historic-title">
            {{ item.exerciseType | titlecase }} - {{ item.exercise | titlecase
            }}<span *ngIf="item.exerciseType === 'bodyweight'">
              - {{ item.bodyweightVariation | titlecase }}</span
            >
          </div>
        </div>
      </div>
      <div class="historic-date">{{ item.exerciseDate | date }}</div>
      <div class="set-row-titles">
        <div class="set-row historic-type-title">Set</div>
        <div
          class="set-row historic-type-title"
          *ngIf="item.exerciseType !== 'bodyweight'"
        >
          Weight
        </div>
        <div class="set-row historic-type-title">Reps</div>
      </div>
    </div>
    <div class="set-row" *ngFor="let set of item.setArray">
      <div class="set-cell">{{ set.setNumber }}</div>
      <div class="set-cell" *ngIf="item.exerciseType !== 'bodyweight'">
        {{ set.weight }}
      </div>
      <div class="set-cell">{{ set.reps }}</div>
    </div>
    <div class="total-set-historic-volume">
      Total Volume: {{ item.exerciseVolume }}
    </div>
    <div class="bottom-border"></div>
  </div>
</div>
<div
  class="exercise-switches"
  *ngIf="bestTimeArrayForDisplay.length > 0 && innerWidth < 1200"
>
  <div class="switch-left" (click)="zIndexToLastTime()">Last Time</div>
  <div class="switch-right" (click)="zIndexToCurrentTime()">Current Time</div>
</div>
