<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
  <!-- <label for="">Exercise Type</label>
  <input
    type="text"
    placeholder="Execise Type"
    formControlName="exerciseType"
    required
    maxlength="10"
  />
  &nbsp;&nbsp; -->

  <label for="">Exercise Type</label>
  <select
    formControlName="exerciseType"
    required
    (change)="populateExerciseSelect($event)"
  >
    <option *ngFor="let type of exerciseTypesDropDown" [value]="type">
      {{ type }}
    </option>
  </select>
  &nbsp;&nbsp;

  <label for="" *ngIf="this.exerciseForm.value.exerciseType">Exercise </label>
  <select
    *ngIf="this.exerciseForm.value.exerciseType"
    formControlName="exercise"
    required
    (change)="populateBodyWeightVariationSelect($event)"
  >
    <option *ngFor="let exercise of exerciseTypeSelected" [value]="exercise">
      {{ exercise }}
    </option>
  </select>
  &nbsp;&nbsp;

  <label
    for=""
    *ngIf="
      this.exerciseForm.value.exercise &&
      this.exerciseForm.value.exerciseType === 'BodyWeight'
    "
    >Variation
  </label>
  <select
    *ngIf="
      this.exerciseForm.value.exercise &&
      this.exerciseForm.value.exerciseType === 'BodyWeight'
    "
    formControlName="bodyweightVariation"
    required
    (change)="activateAddSet()"
  >
    <option
      *ngFor="let variation of bodyweightVariationSelected"
      [value]="variation"
    >
      {{ variation }}
    </option>
  </select>
  &nbsp;&nbsp;

  <!-- <label for="">Exercise</label>
  <input
    *ngIf="this.exerciseForm.value.exerciseType"
    type="text"
    placeholder="Exercise"
    formControlName="exercise"
    required
    maxLength="10"
  /> -->

  &nbsp;&nbsp;Add Set
  <button type="button" (click)="addSet()" [disabled]="addSetButtonDisabled">
    Add
  </button>

  <br />

  <div *ngFor="let s of setArray.controls; index as i">
    <span>Set {{ i + 1 }}</span>
    <app-input
      [i]="i + 1"
      [exerType]="exerciseTypeToChild"
      [inputFormGroup]="$any(s)"
      (exerciseTotalVolume)="receiveSetVolume($event)"
    ></app-input>
    <button (click)="removeSet(i)">Delete</button>
    <p>{{ i }}</p>
  </div>
  <div *ngIf="setAdded_activateTotalVolDisplay">
    Total Volume = {{ totalVolumeForExercise }}
  </div>
  <button type="submit">Save Progress</button>
  <button type="submit" (click)="closeExercise()">Done!</button>

  <!-- Uncommenting below line for active view will cause giant error in console. Wont cause any breaking errors, just annoying -->
  <p>form group values: {{ exerciseForm.value | json }}</p>
  <div
    *ngIf="
      exerciseForm.controls['exerciseType'].touched &&
      exerciseForm.controls['exerciseType'].invalid
    "
  >
    Extype too long!
  </div>
  <div
    *ngIf="
      exerciseForm.controls['exercise'].touched &&
      exerciseForm.controls['exercise'].invalid
    "
  >
    Exercise name too long!
  </div>
  <div
    *ngIf="
      exerciseForm.controls['setArray'].touched &&
      exerciseForm.controls['setArray'].invalid
    "
  >
    Hey stud! Only values less than 1500 lbs and less than 250 reps are
    accepted. Who do you think you are? David Goggins?
  </div>
  hello
  <button (click)="testSet()">TEST</button>
</form>
