.set-flex-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: clamp(0%, calc(10% + 5vw), 12%);
  flex-wrap: nowrap;
}

.select-title {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.set-title {
  font-size: 1.4rem;
  min-width: 88px;
}

.select-input {
  width: clamp(50px, calc(50px + 2.5rem), 200px);
  padding: 0.4rem 0.7rem;
  margin-top: 0;
  margin-right: clamp(0.1rem, calc(0.1rem + 1vw), 1rem);
  margin-bottom: 1rem;
  margin-left: clamp(0.1rem, calc(0.1rem + 1vw), 1rem);
  font-size: 0.9rem;
  border: solid 2px #b0bec5;
}

.select-input:focus {
  border: solid 3px #545c5f;
}

.exercise-select-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.selected-exercise-readout-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent);
}

.current-total-volume {
  float: right;
  padding-right: 3.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.bottom-buttons {
  padding-left: 2rem;
}

.delete-button {
  width: 40px;
}
