<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
  <label for="">Exercise Type</label>
  <input
    type="text"
    placeholder="Execise Type"
    formControlName="exerciseType"
  />
  &nbsp;&nbsp;

  <label for="">Exercise</label>
  <input type="text" placeholder="Exercise" formControlName="exercise" />

  &nbsp;&nbsp;Add Set
  <button type="button" (click)="addSet()">Add</button>
  <br />

  <br />

  <div *ngFor="let s of setArray.controls; index as i">
    <span>Set {{ i + 1 }}</span>
    <app-input [i]="i + 1" [inputFormGroup]="$any(s)"></app-input>
    <button (click)="removeUser(i)">Delete</button>
    <p>{{ i }}</p>
  </div>

  <button type="submit">Submit</button>
  <p>form group values: {{ exerciseForm.value | json }}</p>
</form>
