<div class="auth-wrapper">
  <div
    class="warning-text register-warning-text"
    *ngIf="
      (registerForm.controls['username'].touched &&
        registerForm.controls['username'].invalid) ||
      (registerForm.controls['email'].touched &&
        registerForm.controls['email'].invalid) ||
      (registerForm.controls['password'].touched &&
        registerForm.controls['password'].invalid)
    "
  >
    All Fields required. Username and password allow any characters with minimum
    two characters and maximum 20 characters. Valid email address required (ex.
    buff@stuff.com)
  </div>
  <div
  class="warning-text register-warning-text"
  *ngIf="submittedRegistrationResponseMessage == 'Registration Failed - username taken'
  ">
  Username already taken, please submit new registration with different username.
</div>
  <!-- <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()"> -->
    <form [formGroup]="registerForm">
    <div class="auth-field">
      <div>User Name&nbsp;&nbsp;</div>
      <input formControlName="username" required />
    </div>
    <div class="auth-field">
      <div>Email&nbsp;&nbsp;</div>
      <input formControlName="email" required />
    </div>
    <div class="auth-field">
      <div>Password&nbsp;&nbsp;</div>
      <input formControlName="password" required />
    </div>

    <div class="">
      <button class="app-button" type="submit" (click)="submitClickRegister()">
        Register
      </button>

    </div>

  </form>
</div>
