<div class="auth-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="auth-field">
      <div>User Name&nbsp;&nbsp;</div>
      <input formControlName="username" required />
    </div>
    <div class="auth-field">
      <div>Password&nbsp;&nbsp;</div>
      <input formControlName="password" required />
    </div>
    <div class="">
      <button class="app-button" type="submit" (click)="submitLogin()">
        Login
      </button>
      <div>
        <p (click)="onTestAppDialog()" class="test-dialog-text">
          Want to preview the app with test data?
        </p>
      </div>
    </div>
  </form>
</div>
