.input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  // border: blue 1px solid;
  width: 800px;
}

.input-flex-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.one-db-option {
  height: 10px;
  width: 10px;
  border: 1px solid var(--border);
  background-color: var(--button-accent);
  padding: 0px 1px;
  margin: 0px 2px;
}

.two-db-option {
  height: 10px;
  width: 10px;
  border: 1px solid var(--border);
  background-color: var(--button-accent);
  padding: 0px 1px;
  margin: 0px 2px;
}

.input-row input {
  width: 5rem;
}

.set-input {
  width: 60px;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media (max-width: 850px) {
  .set-input {
    width: 40px;
    padding-top: 0.5rem;
    padding-right: clamp(5px, calc(5px + 2vw), 5px);
    padding-bottom: 0.5rem;
    padding-left: clamp(5px, calc(5px + 2vw), 5px);

    margin-top: 1rem;
    margin-right: clamp(4px, calc(1px + 1vw), 16px);
    margin-bottom: 1rem;
    margin-left: clamp(4px, calc(1px + 1vw), 16px);
    font-weight: 400;
    font-size: 13px;
  }
}
